.InternshipCard {
  flex: 0 0 calc(30.33% - 20px);
  max-width: cal(30.33% - 20px);
  min-width: 280px;
  min-height: auto;
  padding: 1rem;
  background-color: #373737;
  border-radius: 1rem;
  /* justify-content: space-evenly; */
}

.InternshipCard a {
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #4d74ff;
}

.details ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}

.details li {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  color: gold;
  margin-bottom: 4px;
}

.details p {
  font-weight: 700;
  color: white;
  margin: 0;
  margin-top: -4px;
  font-size: 1rem;
}
